
.templatesPageContent{
    margin: 0px auto 100px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.templatesGrid{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.template{
    background-color: #d8d8d8;
    width: 350px;
    height: 65px;
    border-radius: 5px;
    border: solid 1px #0075c96a;
    box-shadow: #1616161a 1.5px 1.5px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.templateText{
    font-family: Gotham black;
    color: black;
    font-size: 16px;
    text-align: center;
}
a:link{
    font-family: Gotham black;
    text-decoration: none;
}
.actionButton{
    background-color: #0075c9;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.actionButtonText{
    font-family: Gotham black;
    color: #f3f3f3;
    font-size: 14px;
    text-align: center;
}
.buttonArea{
    width: 160px;
    height: 50px;
    margin-left: auto;
    margin-right: 200px;
}