
    <section class="recipientsPageContent">
        <div class="buttonArea">
            <a href="/recipients/new">
                <div class="recipientsActionButton">
                    <h6 class="actionButtonText">Novo Endereço</h6>
                </div>
            </a>
        </div>
        <div class="recipients">
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            <div class="recipient">
                <h6 class="recipientName">Thiago Ferreira</h6>
                <h6 class="recipientEmail">thiago.peixoto@nobugs.com.br</h6>
                <h6 class="recipientTag">No Bugs</h6>
                <div class="actions">
                    <a href="#">
                        <img src="../../res/assets/img/settings.svg" alt="config">
                    </a>
                    <a href="#">
                        <img src="../../res/assets/img/lixo.png" alt="delete" id="deleteIcon">
                    </a>
                </div>
            </div>
            
        </div>
    </section>
