
    <div class="templatesPageContent">
        <div class="buttonArea">
            <a href="/templates/new">
                <div class="actionButton">
                    <h6 class="actionButtonText">Novo Template</h6>
                </div>
            </a>
        </div>
        <div class="templatesGrid">
            {loop="$templates"}
            <a href="/templates/{$value.idTemplate}">
                <div class="template">
                    <h6 class="templateText">{$value.nameTemplate}</h6>
                </div>
            </a>
            {/loop}
        </div>
    </div>
    