
    <div class="templatesPageContent">
        <div class="buttonArea">
            <a href="/templates/new">
                <div class="actionButton">
                    <h6 class="actionButtonText">Novo Template</h6>
                </div>
            </a>
        </div>
        <div class="templatesGrid">

            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Janeiro</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Fevereiro</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Março</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Abril</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Maio</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Junho</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Julho</h6>
                </div>
            </a>
            <a href="#">
                <div class="template" href="/templates/:id">
                    <h6 class="templateText">Newsletter Agosto</h6>
                </div>
            </a>
        </div>
    </div>
    