<div class="templateSendContent">
    <form action="/templates/{$template.idTemplate}/send" class="templateSend" method="post">

        <div class="sendContainer">
            <h2 class="sendBlueTitle">Assunto:</h2>
            <div class="sendField">
                <label for="subject"><h6 class="recipientLabel">Assunto:</h6></label>
                <input type="text" name="subject" class="sendInput" placeholder="Ex: Promoção pra você!" required>
            </div>
        </div>
        <div class="sendContainer">
            <h2 class="sendBlueTitle">Nome do remetente:</h2>
            <div class="sendField">
                <label for="name"><h6 class="recipientLabel">Nome:</h6></label>
                <input type="text" name="name" class="sendInput" placeholder="Ex: Fulano De Tal" required>
            </div>
            <h2 class="sendBlueTitle">Enviar template {$template.nameTemplate} para:</h2>
        </div>
        
        <div class="recipients-send">
            {loop="$recipients"}
            <div class="recipient">
                <input name="radio" id="radio" onchange="storeEmail()" type="radio" value="{$value.emailRecipient}">
                <input type="hidden" name="idRecipient" value="/templates/{idTemplate}"/>
                <h6 class="recipientName">{$value.nameRecipient}</h6>
                <h6 class="recipientEmail">{$value.emailRecipient}</h6>
                <h6 class="recipientTag">{$value.tagRecipient}</h6>
            </div>
            {/loop}
            <button class="sendButton">Enviar</button>
        </div>
    </form>
</div>
<script src="/res/js/send-settings.js"></script>