<div class="templatePageContent">
    <div class="templateButtonArea">
        <a href="/templates/{$template.idTemplate}/delete">
            <div class="actionButton" id="deleteTemplate">
                <h6 class="actionButtonText">Excluir Template</h6>
            </div>
        </a>
        <a href="/templates/{$template.idTemplate}/send">
            <div class="actionButton">
                <h6 class="actionButtonText">Enviar Template</h6>
            </div>
        </a>
    </div>
</div>